# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
venv*/
.env

# IDE specific files
.idea/
.vscode/
*.pyc

# Miscellaneous
*.log
*.sqlite3
.DS_Store

backup.py
